.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.header_left {
  font-size: 30px;
  margin: 20px;
  color: blue;
}

nav.header_right>ul {
  display: flex;
  justify-content: space-between;
}

.nav_con {
  font-size: 20px;
  margin: 20px;
  color: blue;
  font-weight: bold;
  white-space: nowrap;
}

main {
  position: relative;
}

.main_text {
  font-size: 400%;
  position: absolute;
  top: 63%;
  font-weight: 500;
  z-index: 1;
  white-space: nowrap;
}

.main_blueblock {
  background-color: blue;
  width: 70%;
  height: 25%;
  position: absolute;
  top: 70%;

}

.firstview_img {
  width: 50%;
  height: 600px;
  position: absolute;
  top: 15%;
  left: 50%;
}